<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>灵动刘海需要访问音乐应用以显示和控制当前播放信息</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleExecutable</key>
	<string>NotchIsland</string>
	<key>CFBundleName</key>
	<string>灵动刘海</string>
	<key>CFBundleDisplayName</key>
	<string>灵动刘海</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 hianzuo. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.hianzuo.macapp.DynamicNotch</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>